services:
  frontend:
    image: ${ECR_REGISTRY}/dev-dojangkok-fe:latest
    container_name: dojangkok-fe
    ports:
      - '3000:3000'
    env_file:
      - .env
    restart: always
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'
