node_modules
.next
out
build
coverage

.git
.github
.husky
.vscode
.claude

*.md
.gitignore
.prettierrc
.prettierignore
.releaserc.json
vitest.config.ts
Dockerfile
.dockerignore
docker-compose.yml

.DS_Store
*.pem
npm-debug.log*
*.tsbuildinfo
next-env.d.ts
