.container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 430px;
  padding: 20px;
  background-color: #ffffff;
  border-top: 1px solid #f3f4f6;
  z-index: 20;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
